<!DOCTYPE html>
<html>
<head>

<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/wCzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEQAAAAAAABEREAAAAAABEAARAAAAAAEQABEAAAAAAAAAEQAAAAAAAAARAAAAAAAAABEAARAAEQAREREBEAARABEREQEQAREAAAAAARAREQAAAAABEBARAAAAAAEREBEAAAAAAREAEQAAAAABEAARAAAAAAEQABEAAAAAD/HwAA/g8AAPznAAD85wAA/+cAAP/nAAD/5wAAOYEAADmBAAAx/wAAIf8AACn/AAAJ/wAAGf8AADn/AAA5/wAA" rel="icon" type="image/x-icon" />
  <% include ../partials/header.ejs %>
</head>

<style>
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .input_field {

	width: 800px;


    }
</style>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="jersey-logo">
      <img src="/seal.png">
    </a>
    <h1>You're from New Jersey? What exit?</h1>
    <p>This website helps New Jersey natives determine what exit of the Turnpike is closest to them, one Google Maps API query at a time. So when some silly out-of-stater asks what exit you're from, you can at least respond intelligently.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/peterkshultz/myexit"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

<h2>First things first: enter your address below</h2>


<form action="#" method="post" name="Fill in your address!">
      <div class="input">
        <input type="text" class="input_field" placeholder="265 Westville Ave, West Caldwell, NJ 07006">
        <input type="submit" class="button" id="submit" value="Get Educated">
      </div>
</form>

 <div class="alert alert-info text-center" role="alert">
    This is the first web app created by Peter Shultz. Visit his website, <a href="https://www.petershultz.com">petershultz.com</a> for links to his writing, GitHub account, social media profiles, and résumé.
  </div>
</div>


</body>
</html>
