<!DOCTYPE html>
<html>
<head>

<link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/wCzAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEQAAAAAAABEREAAAAAABEAARAAAAAAEQABEAAAAAAAAAEQAAAAAAAAARAAAAAAAAABEAARAAEQAREREBEAARABEREQEQAREAAAAAARAREQAAAAABEBARAAAAAAEREBEAAAAAAREAEQAAAAABEAARAAAAAAEQABEAAAAAD/HwAA/g8AAPznAAD85wAA/+cAAP/nAAD/5wAAOYEAADmBAAAx/wAAIf8AACn/AAAJ/wAAGf8AADn/AAA5/wAA" rel="icon" type="image/x-icon" />
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="jersey-logo">
      <img src="/seal.png">
    </a>
    <h1>You're from New Jersey? What exit?</h1>
    <p>Helping New Jersey natives determine what exit they are on the Turnpike, one Google Maps API query at a time.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/peterkshultz/myexit"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

<div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1561583.404061634!2d-74.7311156!3d40.14300575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c0fb959e00409f%3A0x2cd27b07f83f6d8d!2sNew+Jersey!5e0!3m2!1sen!2sus!4v1442105588853" width="1300" height="800" align="middle" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
 <div class="alert alert-info text-center" role="alert">
    This is the first web app created by Peter Shultz. Visit his website, <a href="https://www.petershultz.com">petershultz.com</a> for links to his writing, GitHub account, social media profiles, and résumé.
  </div>
</div>


</body>
</html>
